/*
Theme Name:   	Storefront Child Theme
Theme URI:    	https://github.com/stuartduff/storefront-child-theme
Author:       	Stuart Duff
Author URI:     http://stuartduff.com
Template:     	storefront
Description:  	This is a blank child theme for WooThemes StoreFront theme
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later
*/
/*
 * Add your own custom css below this text.
 */

 html {

 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%
 }

 body {
 margin:0;
 font-family: effra, sans-serif;
 color: #2d2d2d;
 line-height: 1;
 }

 article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
 display:block
 }

 audio,canvas,progress,video {
 display:inline-block;
 vertical-align:baseline
 }

 audio:not([controls]) {
 display:none;
 height:0
 }

 [hidden],template {
 display:none
 }

 a {
 background-color:transparent
 }

 a:active,a:hover {
 outline:0
 }

 abbr[title] {
 border-bottom:1px dotted
 }

 b,strong {
 font-weight:700
 }

 dfn {
 font-style:italic
 }

 h1 {
 font-size:2em;
 margin:.67em 0
 }

 mark {
 background:#ff0;
 color:#000
 }

 small {
 font-size:80%
 }

 sub,sup {
 font-size:75%;
 line-height:0;
 position:relative;
 vertical-align:baseline
 }

 sup {
 top:-.5em
 }

 sub {
 bottom:-.25em
 }

 img {
 border:0
 }

 svg:not(:root) {
 overflow:hidden
 }

 figure {
 margin:1em 40px
 }

 hr {
 box-sizing:content-box;
 height:0
 }

 pre {
 overflow:auto
 }

 code,kbd,pre,samp {
 font-size:1em
 }

 button,input,optgroup,select,textarea {
 color:inherit;
 font:inherit;
 margin:0
 }

 button {
 overflow:visible
 }

 button,select {
 text-transform:none
 }

 button,html input[type="button"],input[type="reset"],input[type="submit"] {
 -webkit-appearance:button;
 cursor:pointer
 }

 button[disabled],html input[disabled] {
 cursor:default
 }

 button::-moz-focus-inner,input::-moz-focus-inner {
 border:0;
 padding:0
 }

 input {
 line-height:normal
 }

 input[type="checkbox"],input[type="radio"] {
 box-sizing:border-box;
 padding:0
 }

 input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
 height:auto
 }

 input[type="search"] {
 -webkit-appearance:textfield;
 box-sizing:content-box
 }

 input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
 -webkit-appearance:none
 }

 fieldset {
 border:1px solid silver;
 margin:0 2px;
 padding:.35em .625em .75em
 }

 legend {
 border:0;
 padding:0
 }

 textarea {
 overflow:auto
 }

 optgroup {
 font-weight:700
 }

 table {
 border-collapse:collapse;
 border-spacing:0
 }

 td,th {
 padding:0
 }

 body {
 -ms-word-wrap:break-word;
 word-wrap:break-word
 }

 body,button,input,textarea {
 text-rendering:optimizeLegibility;
 }

 select {
 color:initial;
 max-width:100%
 }

 h1,h2,h3,h4,h5,h6 {
 clear:both;
 font-weight:300;
 margin:0 0 .5407911001em;
 color:#131315
 }

 h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
 font-weight:300
 }

 h1,.alpha {
 font-size:2.617924em;
 line-height:1.214;
 letter-spacing:-1px
 }

 h2,.beta {
 font-size:2em;
 line-height:1.214
 }

 h2 + h3,.beta + h3 {
 border-top:1px solid rgba(0,0,0,0.05);
 padding-top:.5407911001em
 }

 h3,.gamma {
 font-size:1.618em
 }

 h4,.delta {
 font-size:1.41575em
 }

 .alpha,.beta,.gamma,.delta {
 display:block
 }

 p + h2,p + header h2,p + h3,p + h4,ul + h2,ul + header h2,ul + h3,ul + h4,ol + h2,ol + header h2,ol + h3,ol + h4,table + h2,table + header h2,table + h3,table + h4,blockquote + h2,blockquote + header h2,blockquote + h3,blockquote + h4,form + h2,form + header h2,form + h3,form + h4 {
 margin-top:2.2906835em
 }

 hr {
 background-color:#ccc;
 border:0;
 height:1px;
 margin:0 0 1.41575em
 }

 p {
 margin:0 0 1.41575em
 }

 ul,ol {
 margin:0 0 1.41575em 3em;
 padding:0
 }

 ul {
 list-style:disc
 }

 ol {
 list-style:decimal
 }

 li > ul,li > ol {
 margin-bottom:0;
 margin-left:1em
 }

 dt {
 font-weight:600
 }

 dd {
 margin:0 0 1.618em
 }

 b,strong {
 font-weight:600
 }

 dfn,cite,em,i {
 font-style:italic
 }

 blockquote {
 padding:0 1em;
 border-left:3px solid rgba(0,0,0,0.05);
 font-style:italic
 }

 address {
 margin:0 0 1.41575em
 }

 pre {
 background:rgba(0,0,0,0.1);
 margin-bottom:1.618em;
 padding:1.618em;
 overflow:auto;
 max-width:100%
 }

 code,kbd,tt,var {
 background-color:rgba(0,0,0,0.05);
 padding:.202em .5407911001em
 }

 abbr,acronym {
 border-bottom:1px dotted #666;
 cursor:help
 }

 mark,ins {
 text-decoration:none;
 font-weight:600;
 background:transparent
 }

 sup,sub {
 font-size:75%;
 height:0;
 line-height:0;
 position:relative;
 vertical-align:baseline
 }

 sup {
 bottom:1ex
 }

 sub {
 top:.5ex
 }

 small {
 font-size:75%
 }

 big {
 font-size:125%
 }

 figure {
 margin:0
 }

 table {
 margin:0 0 1.41575em;
 width:100%
 }

 img {
 height:auto;
 max-width:100%;
 display:block
 }

 a {
 color:#2c2d33;
 text-decoration:none
 }


 * {
 box-sizing:border-box
 }

 body {
 overflow-x:hidden
 }

 .site-content,.header-widget-region {
 -webkit-tap-highlight-color:rgba(0,0,0,0)
 }

 .site-header {
 background-color:#f2f2f2;
 color:#2d2d2d;
 position:relative;
 z-index:999
 }

 .site-header .site-logo-anchor,.site-header .site-logo-link,.site-header .custom-logo-link {
 display:inline-block;
 margin-bottom:0
 }

 .site-header .site-logo-anchor img,.site-header .site-logo-link img,.site-header .custom-logo-link img {
 width:100%;
 max-width:50px
 }

 .site-header .widget {
 margin-bottom:0
 }

 .no-wc-breadcrumb .site-header {
 margin-bottom:4.235801032em
 }

 .no-wc-breadcrumb.page-template-template-homepage .site-header {
 margin-bottom:0
 }

 .header-widget-region {
 position:relative;
 z-index:99
 }

 .site-branding {
 float:left;
 margin-bottom:0;
 width:calc(100% - 120px)
 }

 .site-branding .site-title {
 font-size:2em;
 letter-spacing:-1px;
 margin:0
 }

 .site-branding .site-title a {
 font-weight:700
 }
 a:focus{
   outline:none;
 }
 .site-branding .site-title a:hover{
   box-shadow:none;
 }
 .site-branding .site-title a:focus{
   outline:none;
 }
 .site-branding .site-description {
 font-size:.875em;
 display:none
 }

 .site-branding .logo {
 margin:0
 }

 .site-main {
 margin-bottom:2.617924em
 }

 .site-content {
 outline:none
 }

 .page-template-template-homepage:not(.has-post-thumbnail) .site-main {
 padding-top:4.235801032em
 }

 .page-template-template-homepage .type-page {
 padding-top:2.617924em;
 padding-bottom:2.617924em;
 position:relative
 }

 .page-template-template-homepage .type-page .storefront-hero__button-edit {
 position:absolute;
 top:1em;
 right:1em;
 font-size:.875em
 }

 .page-template-template-homepage .entry-content {
 font-size:1.1em
 }

 .page-template-template-homepage .entry-content p:last-child {
 margin-bottom:0
 }

 .page-template-template-homepage .entry-header h1 {
 font-size:3.706325903em;
 margin-bottom:.2360828548em
 }

 .page-template-template-homepage .entry-content,.page-template-template-homepage .entry-header {
 max-width:41.0994671405em;
 margin-left:auto;
 margin-right:auto;
 text-align:center
 }

 .page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail {
 background-size:cover;
 background-position:center center;
 padding-top:6.8535260698em;
 padding-bottom:6.8535260698em
 }

 .page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content,.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title {
 opacity:0;
 -webkit-transition:all,ease,.5s;
 transition:all,ease,.5s
 }

 .page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content.loaded,.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title.loaded {
 opacity:1
 }

 .site-footer {
 background-color:#001a1a;
 color:#f2f2f2;
 }

 .site-footer a {
 color:#f2f2f2;
 text-decoration:underline
 }

 .site-footer a:hover {
 text-decoration:none
 }

 .site-footer a.button,.site-footer a.components-button:not(.is-link),.site-footer a.wp-block-button__link {
 text-decoration:none
 }


 .site-info span[role=separator] {
 padding:0 .2360828548em 0 .3342343017em
 }

 .site-info span[role=separator]::before {
 content:'\007c'
 }

 .alignleft {
 display:inline;
 float:left;
 margin-right:1em
 }

 .alignright {
 display:inline;
 float:right;
 margin-left:1em
 }

 .aligncenter {
 clear:both;
 display:block;
 margin:0 auto
 }

 .screen-reader-text {
 border:0;
 clip:rect(1px,1px,1px,1px);
 -webkit-clip-path:inset(50%);
 clip-path:inset(50%);
 height:1px;
 margin:-1px;
 overflow:hidden;
 padding:0;
 position:absolute;
 width:1px;
 word-wrap:normal!important
 }

 .screen-reader-text:focus {
 background-color:#f1f1f1;
 border-radius:3px;
 box-shadow:0 0 2px 2px rgba(0,0,0,0.6);
 clip:auto!important;
 display:block;
 font-weight:700;
 height:auto;
 left:0;
 line-height:normal;
 padding:1em 1.618em;
 text-decoration:none;
 top:0;
 width:auto;
 z-index:100000;
 outline:none
 }

 .screen-reader-text.skip-link:focus {
 -webkit-clip-path:none;
 clip-path:none
 }

 .clear::before,.clear::after,.entry-content::before,.entry-content::after,.comment-content::before,.comment-content::after,.site-header::before,.site-header::after,.site-content::before,.site-content::after,.site-footer::before,.site-footer::after {
 content:'';
 display:table
 }

 .clear::after,.entry-content::after,.comment-content::after,.site-header::after,.site-content::after,.site-footer::after {
 clear:both
 }

 table {
 border-spacing:0;
 width:100%;
 border-collapse:separate
 }

 table caption {
 padding:1em 0;
 font-weight:600
 }

 table td,table th {
 padding:1em 1.41575em;
 text-align:left;
 vertical-align:top
 }

 table td p:last-child,table th p:last-child {
 margin-bottom:0
 }

 table th {
 font-weight:600
 }

 table thead th {
 padding:1.41575em;
 vertical-align:middle
 }

 table tbody h2 {
 font-size:1em;
 letter-spacing:normal;
 font-weight:400
 }

 table tbody h2 a {
 font-weight:400
 }

 .error404 .site-content .widget_product_search {
 padding:1.618em;
 background-color:rgba(0,0,0,0.025)
 }

 .error404 .site-content .widget_product_search form {
 margin:0
 }

 .error404.right-sidebar .content-area,.error404.left-sidebar .content-area {
 width:100%
 }

 .error404 .fourohfour-columns-2 {
 padding:2.617924em 0;
 border:1px solid rgba(0,0,0,0.05);
 border-width:1px 0;
 margin-bottom:2.617924em
 }

 .error404 .fourohfour-columns-2::before,.error404 .fourohfour-columns-2::after {
 content:'';
 display:table
 }

 .error404 .fourohfour-columns-2::after {
 clear:both
 }

 .error404 .fourohfour-columns-2 ul.products li.product,.error404 .fourohfour-columns-2 .widget {
 margin-bottom:0
 }

 .error404 .fourohfour-columns-2 .col-1 ul.products {
 margin-bottom:2.2906835em
 }

 .error404 .fourohfour-columns-2 .col-1 ul.products li.product {
 width:45.4545454545%;
 float:left;
 margin-right:9.0909090909%
 }

 .error404 .fourohfour-columns-2 .col-1 ul.products li.product:last-child {
 margin-right:0
 }

 .error404 .fourohfour-columns-2 .col-2 {
 padding:1.618em;
 background-color:rgba(0,0,0,0.025)
 }

 #comments {
 padding-top:2.617924em
 }

 #comments .comments-title {
 border-bottom:1px solid rgba(0,0,0,0.05);
 padding-bottom:.5407911001em;
 margin-bottom:1.618em
 }

 #comments .comment-list {
 list-style:none;
 margin-left:0
 }

 #comments .comment-list .comment-body::before,#comments .comment-list .comment-body::after {
 content:'';
 display:table
 }

 #comments .comment-list .comment-body::after {
 clear:both
 }

 #comments .comment-list .comment-content {
 padding-bottom:1.618em;
 margin-bottom:1.618em
 }

 #comments .comment-list .comment-content .comment-text {
 padding:1.618em;
 border-radius:3px
 }

 #comments .comment-list .comment-content .comment-text p:last-child {
 margin-bottom:0
 }

 #comments .comment-list .comment-meta {
 margin-bottom:1em
 }

 #comments .comment-list .comment-meta .avatar {
 margin-bottom:1em;
 max-width:64px;
 height:auto
 }

 #comments .comment-list .comment-meta a.comment-date {
 font-size:.875em
 }

 #comments .comment-list .comment-meta cite {
 font-style:normal;
 clear:both;
 display:block
 }

 #comments .comment-list .reply {
 margin-bottom:1.618em;
 padding-top:.6180469716em
 }

 #comments .comment-list .reply::before,#comments .comment-list .reply::after {
 content:'';
 display:table
 }

 #comments .comment-list .reply::after {
 clear:both
 }

 #comments .comment-list .reply a {
 display:inline-block;
 margin-right:1em
 }

 #comments .comment-list .reply a:last-child {
 margin-right:0
 }

 #comments .comment-list .children {
 list-style:none
 }

 .comment-content a {
 word-wrap:break-word
 }

 #respond {
 clear:both;
 padding:1.618em;
 background-color:rgba(0,0,0,0.0125);
 position:relative
 }

 #respond .comment-form-author input,#respond .comment-form-email input,#respond .comment-form-url input {
 width:100%
 }

 #respond .form-submit,#respond form {
 margin-bottom:0
 }

 #respond #cancel-comment-reply-link {
 position:absolute;
 top:.5407911001em;
 right:.5407911001em;
 display:block;
 height:1em;
 width:1em;
 overflow:hidden;
 line-height:1;
 font-size:1.41575em;
 text-align:center;
 -webkit-transition:ease,0.3s,-webkit-transform;
 transition:ease,0.3s,-webkit-transform;
 transition:transform,ease,.3s;
 transition:transform,ease,0.3s,-webkit-transform
 }

 #respond #cancel-comment-reply-link:hover {
 -webkit-transform:scale(1.3);
 -ms-transform:scale(1.3);
 transform:scale(1.3)
 }

 .hentry {
 margin:0 0 4.235801032em
 }

 .hentry .wp-post-image {
 margin-bottom:1.618em;
 margin-left:auto;
 margin-right:auto
 }

 .hentry .entry-header {
 margin-bottom:1em;
 border-bottom:1px solid rgba(0,0,0,0.05)
 }

 .hentry .entry-header .posted-on,.hentry .entry-header .post-author,.hentry .entry-header .post-comments,.hentry .entry-header .byline {
 font-size:.875em
 }

 .hentry .entry-header .posted-on a,.hentry .entry-header .post-author a,.hentry .entry-header .post-comments a,.hentry .entry-header .byline a {
 font-weight:600;
 text-decoration:underline
 }

 .hentry .entry-header .posted-on a:hover,.hentry .entry-header .post-author a:hover,.hentry .entry-header .post-comments a:hover,.hentry .entry-header .byline a:hover {
 text-decoration:none
 }

 .hentry .entry-content a {
 text-decoration:underline
 }

 .hentry .entry-content a:hover {
 text-decoration:none
 }

 .hentry .entry-content a.button,.hentry .entry-content a.components-button:not(.is-link),.hentry .entry-content a.wp-block-button__link {
 text-decoration:none
 }

 .hentry .entry-taxonomy {
 margin:1.41575em 0 0;
 padding-top:1em;
 border-top:1px solid rgba(0,0,0,0.05)
 }

 .hentry.type-page .entry-header {
 border-bottom:0;
 margin-bottom:0
 }

 .cat-links,.tags-links {
 font-size:.875em
 }

 .cat-links a,.tags-links a {
 color:#727272;
 font-weight:600;
 text-decoration:underline
 }

 .byline,.updated:not(.published) {
 display:none
 }

 .single .byline,.group-blog .byline {
 display:inline
 }

 .page-links {
 clear:both;
 margin:0 0 1em
 }

 form {
 margin-bottom:1.618em
 }

 button,input,select,textarea {
 font-size:100%;
 margin:0
 }

 button,input[type='button'],input[type='reset'],input[type='submit'],.button,.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,.added_to_cart {
 border:0;
 border-radius:0;
 background:none;
 background-color:#43454b;
 border-color:#43454b;
 color:#fff;
 cursor:pointer;
 padding:.6180469716em 1.41575em;
 text-decoration:none;
 font-weight:600;
 text-shadow:none;
 display:inline-block;
 -webkit-appearance:none
 }

 input[type='checkbox'],input[type='radio'] {
 padding:0
 }

 input[type='checkbox'] + label,input[type='radio'] + label {
 margin:0 0 0 .3819820591em
 }

 input[type='search']::-webkit-search-decoration {
 -webkit-appearance:none
 }

 input[type='search'] {
 box-sizing:border-box
 }

 input[type='search']::-webkit-input-placeholder {
 color:#616161
 }

 input[type='search']::-moz-placeholder {
 color:#616161
 }

 input[type='search']:-ms-input-placeholder {
 color:#616161
 }

 input[type='search']::-ms-input-placeholder {
 color:#616161
 }

 input[type='search']::placeholder {
 color:#616161
 }

 button::-moz-focus-inner,input::-moz-focus-inner {
 border:0;
 padding:0
 }

 input[type='text'],input[type='number'],input[type='email'],input[type='tel'],input[type='url'],input[type='password'],input[type='search'],textarea,.input-text {
 padding:.6180469716em;
 background-color:#f2f2f2;
 color:#43454b;
 border:0;
 -webkit-appearance:none;
 box-sizing:border-box;
 font-weight:400;
 box-shadow:inset 0 1px 1px rgba(0,0,0,0.125)
 }

 input[type='text']:focus,input[type='number']:focus,input[type='email']:focus,input[type='tel']:focus,input[type='url']:focus,input[type='password']:focus,input[type='search']:focus,textarea:focus,.input-text:focus {
 background-color:#ededed
 }

 textarea {
 overflow:auto;
 padding-left:.875em;
 vertical-align:top;
 width:100%
 }

 label {
 font-weight:400
 }

 label.inline input {
 width:auto
 }

 fieldset {
 padding:1.618em;
 padding-top:1em;
 border:0;
 margin:0;
 margin-bottom:1.618em;
 margin-top:1.618em
 }

 fieldset legend {
 font-weight:600;
 padding:.6180469716em 1em;
 margin-left:-1em
 }

 [placeholder]:focus::-webkit-input-placeholder {
 -webkit-transition:opacity .5s .5s ease;
 transition:opacity .5s .5s ease;
 opacity:0
 }

 .page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley {
 border:none;
 margin-bottom:0;
 margin-top:0;
 padding:0;
 display:inline-block;
 border-radius:0
 }

 .wp-caption {
 margin-bottom:1em;
 max-width:100%
 }

 .wp-caption img[class*='wp-image-'] {
 display:block;
 margin:0 auto
 }

 .wp-caption .wp-caption-text {
 text-align:left;
 font-style:italic;
 border-bottom:2px solid rgba(0,0,0,0.05);
 padding:1em 0
 }

 .gallery {
 margin-bottom:1em
 }

 .gallery::before,.gallery::after {
 content:'';
 display:table
 }

 .gallery::after {
 clear:both
 }

 .gallery .gallery-item {
 float:left
 }

 .gallery .gallery-item .gallery-icon a {
 display:block
 }

 .gallery .gallery-item .gallery-icon img {
 border:none;
 height:auto;
 margin:0 auto
 }

 .gallery .gallery-item .gallery-caption {
 margin:0;
 text-align:center
 }

 .gallery.gallery-columns-1 .gallery-item {
 width:100%
 }

 .gallery.gallery-columns-2 .gallery-item {
 width:50%
 }

 .gallery.gallery-columns-3 .gallery-item {
 width:33.3%
 }

 .gallery.gallery-columns-4 .gallery-item {
 width:25%
 }

 .gallery.gallery-columns-5 .gallery-item {
 width:20%
 }

 .gallery.gallery-columns-6 .gallery-item {
 width:16.666666667%
 }

 .gallery.gallery-columns-7 .gallery-item {
 width:14.285714286%
 }

 .gallery.gallery-columns-8 .gallery-item {
 width:12.5%
 }

 .gallery.gallery-columns-9 .gallery-item {
 width:11.111111111%
 }

 embed,iframe,object,video {
 max-width:100%
 }

 .secondary-navigation {
 display:none
 }

 .main-navigation::before,.main-navigation::after {
 content:'';
 display:table
 }

 .main-navigation::after {
 clear:both
 }

 .main-navigation div.menu {
 display:none
 }

 .main-navigation div.menu:last-child {
 display:block
 }

 .main-navigation .menu {
 clear:both
 }

 .handheld-navigation,.nav-menu,.main-navigation div.menu > ul:not(.nav-menu) {
 overflow:hidden;
 max-height:0;
 -webkit-transition:all,ease,.8s;
 transition:all,ease,.8s
 }

 .handheld-navigation {
 clear:both
 }

 .handheld-navigation ul {
 margin:0
 }

 .handheld-navigation ul.menu li {
 position:relative
 }

 .handheld-navigation ul.menu li button::after {
 -webkit-transition:all,ease,.9s;
 transition:all,ease,.9s
 }

 .handheld-navigation ul.menu li button.toggled-on::after {
 -webkit-transform:rotate(180deg);
 -ms-transform:rotate(180deg);
 transform:rotate(180deg)
 }

 .handheld-navigation ul.menu .sub-menu {
 visibility:hidden;
 opacity:0;
 max-height:0;
 -webkit-transition:all,ease,.9s;
 transition:all,ease,.9s
 }

 .handheld-navigation ul.menu .sub-menu.toggled-on {
 visibility:visible;
 max-height:9999px;
 opacity:1
 }

 .handheld-navigation .dropdown-toggle {
 background:transparent;
 position:absolute;
 top:0;
 right:0;
 display:block
 }

 .main-navigation.toggled .handheld-navigation,.main-navigation.toggled .menu > ul:not(.nav-menu),.main-navigation.toggled ul[aria-expanded=true] {
 max-height:9999px
 }

 .main-navigation ul {
 margin-left:0;
 list-style:none;
 margin-bottom:0
 }

 .main-navigation ul ul {
 display:block;
 margin-left:1.41575em
 }
.main-navigation ul li{
 z-index: 0;
 display: flex;
 -webkit-box-align: center;
 align-items: center;
 margin-right: 24px;
 white-space: nowrap;
 }
 .main-navigation ul li:last-child{
   float:right;
 }
 @media screen and (max-width:767px){
   .main-navigation ul li:last-child{
     float:none;
   }
   .storefront-primary-navigation .col-full{
     padding-right:24px;
   }
 }
 .main-navigation ul li a {
 display:block;
 font-size:16px;
 font-weight: 300;
 text-transform: uppercase;
 }

 .site-main nav.navigation {
 clear:both;
 }

 .site-main nav.navigation::before,.site-main nav.navigation::after {
 content:'';
 display:table
 }

 .site-main nav.navigation::after {
 clear:both
 }

 .site-main nav.navigation .nav-previous a,.site-main nav.navigation .nav-next a {
 display:inline-block
 }

 .site-main nav.navigation .nav-previous {
 float:left;
 width:50%
 }

 .site-main nav.navigation .nav-next {
 float:right;
 text-align:right;
 width:50%
 }

 .pagination,.woocommerce-pagination {
 padding:1em 0;
 border:1px solid rgba(0,0,0,0.05);
 border-width:1px 0;
 text-align:center;
 clear:both
 }

 .pagination ul.page-numbers::before,.pagination ul.page-numbers::after,.woocommerce-pagination ul.page-numbers::before,.woocommerce-pagination ul.page-numbers::after {
 content:'';
 display:table
 }

 .pagination ul.page-numbers::after,.woocommerce-pagination ul.page-numbers::after {
 clear:both
 }

 .pagination .page-numbers,.woocommerce-pagination .page-numbers {
 list-style:none;
 margin:0;
 vertical-align:middle
 }

 .pagination .page-numbers li,.woocommerce-pagination .page-numbers li {
 display:inline-block
 }

 .pagination .page-numbers li .page-numbers,.woocommerce-pagination .page-numbers li .page-numbers {
 border-left-width:0;
 display:inline-block;
 padding:.3342343017em .875em;
 background-color:rgba(0,0,0,0.025);
 color:#43454b
 }

 .pagination .page-numbers li .page-numbers.current,.woocommerce-pagination .page-numbers li .page-numbers.current {
 background-color:#2c2d33;
 border-color:#2c2d33
 }

 .pagination .page-numbers li .page-numbers.dots,.woocommerce-pagination .page-numbers li .page-numbers.dots {
 background-color:transparent
 }

 .pagination .page-numbers li .page-numbers.prev,.pagination .page-numbers li .page-numbers.next,.woocommerce-pagination .page-numbers li .page-numbers.prev,.woocommerce-pagination .page-numbers li .page-numbers.next {
 padding-left:1em;
 padding-right:1em
 }

 .pagination .page-numbers li a.page-numbers:hover,.woocommerce-pagination .page-numbers li a.page-numbers:hover {
 background-color:rgba(0,0,0,0.05)
 }

 .rtl .pagination a.next,.rtl .pagination a.prev,.rtl .woocommerce-pagination a.next,.rtl .woocommerce-pagination a.prev {
 -webkit-transform:rotateY(180deg);
 transform:rotateY(180deg)
 }

 .widget {
 margin:0 0 3.706325903em
 }

 .widget select {
 max-width:100%
 }

 .widget .widget-search .search-submit {
 border:0;
 clip:rect(1px,1px,1px,1px);
 -webkit-clip-path:inset(50%);
 clip-path:inset(50%);
 height:1px;
 margin:-1px;
 overflow:hidden;
 padding:0;
 position:absolute;
 width:1px;
 word-wrap:normal!important
 }

 .widget .widget-title,.widget .widgettitle {
 font-size:1.41575em;
 letter-spacing:0;
 border-bottom:1px solid rgba(0,0,0,0.05);
 padding:0 0 1em;
 margin-bottom:1em;
 font-weight:300
 }

 .widget ul {
 margin-left:0;
 list-style:none
 }

 .widget ul ul {
 margin-left:1.618em
 }

 .widget-area .widget {
 font-weight:400
 }

 .widget-area .widget a.button {
 font-weight:600!important
 }

 .header-widget-region::before,.header-widget-region::after {
 content:'';
 display:table
 }

 .header-widget-region::after {
 clear:both
 }

 .header-widget-region .widget {
 margin:0;
 padding:1em 0;
 font-size:.875em
 }

 .widget_search form,.widget_product_search form {
 position:relative
 }

 .widget_search form input[type=text],.widget_search form input[type=search],.widget_product_search form input[type=text],.widget_product_search form input[type=search] {
 width:100%
 }

 .widget_search form input[type=submit],.widget_search form button[type=submit],.widget_product_search form input[type=submit],.widget_product_search form button[type=submit] {
 border:0;
 clip:rect(1px,1px,1px,1px);
 -webkit-clip-path:inset(50%);
 clip-path:inset(50%);
 height:1px;
 margin:-1px;
 overflow:hidden;
 padding:0;
 position:absolute;
 width:1px;
 word-wrap:normal!important;
 top:0;
 left:0
 }

 .widget_recent_entries ul,.widget_pages ul,.widget_categories ul,.widget_archive ul,.widget_recent_comments ul,.widget_nav_menu ul,.widget_links ul,.widget_product_categories ul,.widget_layered_nav ul,.widget_layered_nav_filters ul {
 margin:0
 }

 .widget_recent_entries ul li,.widget_pages ul li,.widget_categories ul li,.widget_archive ul li,.widget_recent_comments ul li,.widget_nav_menu ul li,.widget_links ul li,.widget_product_categories ul li,.widget_layered_nav ul li,.widget_layered_nav_filters ul li {
 list-style:none;
 margin-bottom:1em;
 line-height:1.41575em
 }

 .widget_recent_entries ul .children,.widget_pages ul .children,.widget_categories ul .children,.widget_archive ul .children,.widget_recent_comments ul .children,.widget_nav_menu ul .children,.widget_links ul .children,.widget_product_categories ul .children,.widget_layered_nav ul .children,.widget_layered_nav_filters ul .children {
 margin-top:.6180469716em;
 margin-left:1.618em;
 margin-left:0;
 margin-top:1em
 }

 #wp-calendar th,#wp-calendar td,.wp-calendar-table th,.wp-calendar-table td {
 padding:.236em;
 text-align:center
 }

 .widget_recent_entries ul ul.children,.widget_pages ul ul.children {
 margin:.6180469716em 0 0 1.41575em
 }

 .widget_rating_filter .wc-layered-nav-rating {
 margin-bottom:.6180469716em
 }

 .widget_rating_filter .wc-layered-nav-rating a {
 text-decoration:none!important
 }

 .widget_rating_filter .wc-layered-nav-rating .star-rating {
 display:inline-block;
 height:1em;
 line-height:1
 }

 .widget-area .widget {
 font-size:.875em
 }

 .widget-area .widget h1.widget-title {
 font-size:1.41575em
 }

 .widget-area .widget a {
 font-weight:600;
 text-decoration:underline
 }

 .widget-area .widget a:hover {
 text-decoration:none
 }

 .widget-area .widget a.button,.widget-area .widget a.components-button:not(.is-link),.widget-area .widget a.wp-block-button__link {
 text-decoration:none
 }

 @media (min-width: 768px) {
 table.shop_table_responsive tbody tr td,table.shop_table_responsive tbody tr th {
 text-align:left
 }

 .site-header .site-branding {
 display:block;
 width:100%;
 float:left;
 margin-left:0;
 margin-right:0;
 clear:both
 }

 .site-header .site-branding img {
 height:auto;
 max-width:52px;
 max-height:none
 }


 .site-branding .site-description {
 margin-bottom:0;
 display:block
 }
 .site-header .subscribe-and-connect-connect {
 float:right;
 margin-bottom:1em
 }

 .site-header .subscribe-and-connect-connect .icons {
 list-style:none;
 margin:0
 }

 .site-header .subscribe-and-connect-connect .icons a {
 font-size:1em!important
 }

 .site-header .subscribe-and-connect-connect .icons li {
 margin:0 0 0 .5407911001em !important;
 display:inline-block
 }

 .col-full {
 margin-left:auto;
 margin-right:auto;
 box-sizing:content-box
 }

 .col-full::before,.col-full::after {
 content:'';
 display:table
 }

 .col-full::after {
 clear:both
 }

 .col-full:after {
 content:" ";
 display:block;
 clear:both
 }

 .site-content::before,.site-content::after {
 content:'';
 display:table
 }

 .site-content::after {
 clear:both
 }

 .content-area {
 width:73.9130434783%;
 float:left;
 margin-right:4.347826087%
 }

 .widget-area {
 width:21.7391304348%;
 float:right;
 margin-right:0
 }

 .right-sidebar .content-area {
 width:73.9130434783%;
 float:left;
 margin-right:4.347826087%
 }

 .right-sidebar .widget-area {
 width:21.7391304348%;
 float:right;
 margin-right:0
 }

 .left-sidebar .content-area {
 width:73.9130434783%;
 float:right;
 margin-right:0
 }

 .left-sidebar .widget-area {
 width:21.7391304348%;
 float:left;
 margin-right:4.347826087%
 }

 .storefront-full-width-content .content-area {
 width:100%;
 float:left;
 margin-left:0;
 margin-right:0
 }

 .content-area,.widget-area {
 margin-bottom:2.617924em
 }

 .page-template-template-fullwidth-php .content-area,.page-template-template-homepage-php .content-area {
 width:100%;
 float:left;
 margin-left:0;
 margin-right:0
 }

 .footer-widgets {
 padding-top:4.235801032em;
 border-bottom:1px solid rgba(0,0,0,0.05)
 }

 .footer-widgets::before,.footer-widgets::after {
 content:'';
 display:table
 }

 .footer-widgets::after {
 clear:both
 }

 .footer-widgets.col-2 .block {
 width:47.8260869565%;
 float:left;
 margin-right:4.347826087%
 }

 .footer-widgets.col-2 .block.footer-widget-2 {
 float:right;
 margin-right:0
 }

 .footer-widgets.col-3 .block {
 width:30.4347826087%;
 float:left;
 margin-right:4.347826087%
 }

 .footer-widgets.col-3 .block.footer-widget-3 {
 float:right;
 margin-right:0
 }

 .footer-widgets.col-4 .block {
 width:21.7391304348%;
 float:left;
 margin-right:4.347826087%
 }

 .footer-widgets.col-4 .block.footer-widget-4 {
 float:right;
 margin-right:0
 }

 .comment-list::before,.comment-list::after {
 content:'';
 display:table
 }

 .comment-list::after {
 clear:both
 }

 .comment-list .comment {
 clear:both
 }

 .comment-list .comment-meta {
 width:17.6470588235%;
 float:left;
 margin-right:5.8823529412%;
 text-align:right
 }

 .comment-list .comment-meta .avatar {
 float:right
 }

 .comment-list .comment-content {
 padding-bottom:3.706325903em;
 margin-bottom:3.706325903em
 }

 .comment-list .comment-content,.comment-list #respond {
 width:76.4705882353%;
 float:right;
 margin-right:0
 }

 .comment-list #respond {
 float:right
 }

 .comment-list #respond .comment-form-author,.comment-list #respond .comment-form-email,.comment-list #respond .comment-form-url {
 width:100%;
 margin-right:0
 }

 .comment-list .comment-body #respond {
 box-shadow:0 6px 2em rgba(0,0,0,0.2);
 margin-bottom:2.617924em;
 margin-top:-1.618em
 }

 .comment-list .reply {
 clear:both;
 text-align:right
 }

 .comment-list ol.children {
 width:88.2352941176%;
 float:right;
 margin-right:0;
 list-style:none
 }

 .comment-list ol.children .comment-meta {
 width:20%;
 float:left;
 margin-right:6.6666666667%
 }

 .comment-list ol.children .comment-content,.comment-list ol.children #respond {
 width:73.3333333333%;
 float:right;
 margin-right:0
 }

 .comment-list ol.children ol.children {
 width:86.6666666667%;
 float:right;
 margin-right:0
 }

 .comment-list ol.children ol.children .comment-meta {
 width:23.0769230769%;
 float:left;
 margin-right:7.6923076923%
 }

 .comment-list ol.children ol.children .comment-content,.comment-list ol.children ol.children #respond {
 width:69.2307692308%;
 float:right;
 margin-right:0
 }

 .comment-list ol.children ol.children ol.children {
 width:84.6153846154%;
 float:right;
 margin-right:0
 }

 .comment-list ol.children ol.children ol.children .comment-meta {
 width:27.2727272727%;
 float:left;
 margin-right:9.0909090909%
 }

 .comment-list ol.children ol.children ol.children .comment-content,.comment-list ol.children ol.children ol.children #respond {
 width:63.6363636364%;
 float:right;
 margin-right:0
 }

 .comment-list ol.children ol.children ol.children ol.children {
 width:81.8181818182%;
 float:right;
 margin-right:0
 }

 .comment-list ol.children ol.children ol.children ol.children .comment-meta {
 width:33.3333333333%;
 float:left;
 margin-right:11.1111111111%
 }

 .comment-list ol.children ol.children ol.children ol.children .comment-content,.comment-list ol.children ol.children ol.children ol.children #respond {
 width:55.5555555556%;
 float:right;
 margin-right:0
 }

 #respond {
 padding:2.617924em
 }

 #respond .comment-form-author,#respond .comment-form-email,#respond .comment-form-url {
 width:29.4117647059%;
 float:left;
 margin-right:5.8823529412%
 }

 #respond .comment-form-url {
 float:right;
 margin-right:0
 }

 #respond .comment-form-comment {
 clear:both
 }

 .hentry .entry-header {
 margin-bottom:2.617924em
 }

 .menu-toggle,.handheld-navigation,.main-navigation.toggled .handheld-navigation,.main-navigation.toggled div.menu {
 display:none
 }

 .primary-navigation {
 display:block
 }

 .main-navigation,.secondary-navigation {
 clear:both;
 display:block;
 width:100%
 }

 .main-navigation ul,.secondary-navigation ul {
 list-style:none;
 margin:0;
 padding-left:0;
 display:block
 }

 .main-navigation ul li,.secondary-navigation ul li {
 position:relative;
 display:inline-block;
 text-align:left
 }

 .main-navigation ul li a,.secondary-navigation ul li a {
 display:block
 }

 .main-navigation ul li a::before,.secondary-navigation ul li a::before {
 display:none
 }

 .main-navigation ul li:hover > ul,.main-navigation ul li.focus > ul,.secondary-navigation ul li:hover > ul,.secondary-navigation ul li.focus > ul {
 left:0;
 display:block
 }

 .main-navigation ul li:hover > ul li > ul,.main-navigation ul li.focus > ul li > ul,.secondary-navigation ul li:hover > ul li > ul,.secondary-navigation ul li.focus > ul li > ul {
 left:-9999px
 }

 .main-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device,.main-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device,.secondary-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device,.secondary-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device {
 display:none;
 left:0
 }

 .main-navigation ul li:hover > ul li:hover > ul,.main-navigation ul li:hover > ul li.focus > ul,.main-navigation ul li.focus > ul li:hover > ul,.main-navigation ul li.focus > ul li.focus > ul,.secondary-navigation ul li:hover > ul li:hover > ul,.secondary-navigation ul li:hover > ul li.focus > ul,.secondary-navigation ul li.focus > ul li:hover > ul,.secondary-navigation ul li.focus > ul li.focus > ul {
 left:100%;
 top:0;
 display:block
 }

 .main-navigation ul ul,.secondary-navigation ul ul {
 float:left;
 position:absolute;
 top:100%;
 z-index:99999;
 left:-9999px
 }

 .main-navigation ul ul.sub-menu--is-touch-device,.secondary-navigation ul ul.sub-menu--is-touch-device {
 display:none;
 left:0
 }

 .main-navigation ul ul li,.secondary-navigation ul ul li {
 display:block
 }

 .main-navigation ul ul li a,.secondary-navigation ul ul li a {
 width:200px
 }

 ul.menu li.current-menu-item > a {
 color:#43454b
 }

 .storefront-primary-navigation {
 clear:both
 }

 .storefront-primary-navigation::before,.storefront-primary-navigation::after {
 content:'';
 display:table
 }

 .storefront-primary-navigation::after {
 clear:both
 }

 .main-navigation div.menu {
 display:block
 }

 .main-navigation ul.menu,.main-navigation ul.nav-menu {
 max-height:none;
 overflow:visible;
 -webkit-transition:none;
 transition:none
 }

 .main-navigation ul.menu > li.menu-item-has-children:hover::after,.main-navigation ul.menu > li.page_item_has_children:hover::after,.main-navigation ul.nav-menu > li.menu-item-has-children:hover::after,.main-navigation ul.nav-menu > li.page_item_has_children:hover::after {
 display:block
 }

 .main-navigation ul.menu ul,.main-navigation ul.nav-menu ul {
 margin-left:0
 }


 .main-navigation ul.menu ul li:last-child,.main-navigation ul.nav-menu ul li:last-child {
 border-bottom:0
 }

 .main-navigation ul.menu ul ul,.main-navigation ul.nav-menu ul ul {
 margin-left:0;
 box-shadow:none
 }

 .error404 .fourohfour-columns-2 .col-1 {
 width:47.8260869565%;
 float:left;
 margin-right:4.347826087%
 }

 .error404 .fourohfour-columns-2 .col-1 ul.products {
 margin-bottom:0
 }

 .error404 .fourohfour-columns-2 .col-2 {
 width:47.8260869565%;
 float:right;
 margin-right:0
 }
 }





 /* Our css */

.site-header{
  box-shadow: rgba(109, 114, 120, 0.25) 0px 2px 4px;
  position: fixed;
  width: 100%;
}
.site-header .col-full{
  padding-left:32px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.storefront-primary-navigation{
  border-top: 1px solid rgb(202, 204, 204);
  background: #2b2b2b;
  color: rgb(255, 253, 247);
}
.storefront-primary-navigation ul li a{
  color: rgb(255, 253, 247) !important;
  font-weight: 500;
}
.storefront-primary-navigation ul li a:hover{
  color: rgb(255, 253, 247) !important;
}
.site-header-cart{
  min-width: 40%;
  text-align: right;
}
.site-header-cart li{
  display: inline-block;
}
.site-header-cart .cart-contents{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  width: auto;
  align-items: center;
  cursor: pointer;
  margin-left: 24px;
  color: rgb(255, 253, 247);
  padding: 10px 12px;
  border-radius: 100px;
  background: #2b2b2b;
  transition: all 0.25s ease 0s;
  border: 1px solid #2b2b2b;
  font-weight: 400;
}
.main-navigation ul li a{
  display: flex;
  align-items: center;
}
.site-header ul.menu li.current-menu-item > a{
  box-shadow: none;
}
.main-navigation ul li a:hover,
.main-navigation ul li:hover > a,
.site-title a:hover,
.site-header ul.menu li.focus > a  {
  color: rgb(255, 253, 247) !important;
  box-shadow:rgb(255, 253, 247) 0px -4px 0px inset;
}
.site-header-cart .cart-contents .amount{margin: 0;}
.site-header-cart .cart-contents .count {
  font-size: 16px;
  color: rgb(255, 253, 247);
  font-weight: 400;
  opacity: 1;
}
.site-header ul.site-header-cart li.current-menu-item > a,
a.cart-contents:hover, .site-header-cart .widget_shopping_cart a:hover, .site-header-cart:hover > li > a{
  color: rgb(255, 253, 247) !important;
}
.site-header-cart .cart-contents .count:before{
  content:"/";
  display: inline-block;
  margin: 0 5px;
}
.site-header-cart .cart-contents::before{
  content:"\f07a";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 500;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 12px;
}
.site-header-cart .cart-contents::after{
  content:none;
}
.storefront-breadcrumb, .menu-toggle{
  display: none;
}
.site-branding .site-title:hover{
  box-shadow: none;
}
.site-header-cart{
  display: none;
}

@media screen and (min-width:768px){
  .site-content{
    padding-top:128px;
  }
  .site-header .col-full{
    height:64px;
  }
  .site-header-cart{
    margin-right:32px;
  }
  .main-navigation ul li a{
    height: 64px;
  }
}
@media screen and (max-width:767px){
  .site-content{
    padding-top:96px;
  }
  .site-header .col-full, .main-navigation ul li a{
    height:48px;
  }
  .site-header-cart{
    margin-right:24px;
  }
  .site-header .col-full{
    padding-left: 24px;
  }
  .storefront-handheld-footer-bar{
    position: static;
  }

  .site-header-cart .mobile-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 8px 12px;
    background-color: rgba(255, 253, 247);
    display:none;
  }
  .site-header-cart .cart-contents{
    margin-left: 0;
    line-height: 26px;
    display: flex;
    flex-direction: row-reverse;
  }
  .nav-menu{
    max-height: none;
    display:flex;
  }
  .main-navigation, .nav-menu{
    overflow: auto;
  }
  .main-navigation::-webkit-scrollbar, .nav-menu::-webkit-scrollbar {
    display: none;
  }
  .site-header-cart .cart-contents::before{
    content:"View Order";
    font-family: effra, sans-serif;
    font-size: 16px;
    order:1;
    margin-right:0;
  }
  .site-header-cart .cart-contents .amount{
    flex:1;
  }
  .site-header-cart .cart-contents .count:before{
    content:"(";
    margin: 0 2px;
  }
  .site-header-cart .cart-contents .count:after{
    content:")";
    margin: 0 2px;
  }
  /* body{
    padding-bottom: 70px;
  } */
}

/* Content Section */

.site-content{
  width: 100%;
  padding-left:100px;
  padding-right:100px;
  min-height: 100vh;
  box-sizing: border-box;
}
.home-product{
  padding-top:30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  will-change: transform, opacity;
  gap: 16px;
  transition: all 0.3s ease 0s;
  padding-bottom: 30px;
}
.home-product::before {
  content: "";
  width: 0px;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.home-product a{
  position: relative;
  display: grid;
  align-items: flex-end;
  text-align: left;
  border-radius: 0px;
  overflow: hidden;
  grid-column: span 1 / auto;
}
.home-product a:first-of-type{
  grid-column: 1 / 3;
    grid-row: 1 / 1;
}
.home-product a img{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
.home-product a h4{
  position: absolute;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color:#001a1a;
  font-family: inherit;
  padding: 16px;
  margin: 0px;
}

@media screen and (min-width: 992px){
  .home-product a h4{
    font-size: 24px;
  }
}

@media screen and (min-width:768px){
  .home-product{
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
  }
}
@media screen and (max-width:1024px){
  .home .site-content{
    padding-left:40px;
    padding-right: 40px;
  }
}
@media screen and (max-width:767px){
  .home .site-content{
    padding-left:24px;
    padding-right:24px;
  }
  .site-content{
    padding-left:20px;
    padding-right:20px;
  }
}

/* category page */
.site-content .content-area{
  width:100%;
  margin:0;
  float:none;
  margin-top:30px;
}

.woocommerce-products-header__title{
  font-size: 30px;
  margin: 0px 0px 16px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1;
}
.site-content .content-area .storefront-sorting{
  display: none;
}

ul.products{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
    margin-top: 24px;
    gap: 16px;
}
@media (min-width: 768px){
  ul.products{
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    margin-bottom: 64px;
    margin-top: 32px;
    gap: 32px;
  }
}
@media (min-width: 992px){
  ul.products{
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    margin-bottom: 64px;
    margin-top: 32px;
    gap: 32px;
  }
}
ul.products:before, ul.products:after{
  content:none;
}
ul.products li.product{
  width: 100% !important;
  margin:0 !important;
  float:none !important;
  position: relative;
}
ul.products li.product .woocommerce-loop-product__link{
  position: relative;
  display: block;
}
ul.products li.product.added .woocommerce-loop-product__link:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.25;
  z-index: 1;
  background: #2b2b2b;
}
ul.products li.product.loading .woocommerce-loop-product__link:before{
  content:"";
  background-image: url(./assets/images/loader.gif);
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0px;
  left: 0px;
  opacity: 0.25;
  z-index: 1;
  background-position: center;
  background-size: 150px;
  background-repeat: no-repeat;
  background-color: #2b2b2b;
}

ul.products li.product .shopAddToCart.qtyShow{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  min-width: 148px;
  position: absolute;
  top: 0px;
  z-index: 2;
  width: auto;
  right: 0px;
  left: auto;
  padding: 8px;
}
@media screen and (min-width: 992px){
  ul.products li.product .shopAddToCart.qtyShow{
    min-width: 172px;
    padding: 16px;
  }
}
ul.products li.product .quick_view{
  position: absolute;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 12px;
  color: rgb(109, 114, 120);
  background-color: rgb(255, 253, 247);
  z-index: 2;
  flex: 0 0 auto;
  border-radius: 50%;
  padding: 0px;
  right:6px;
  font-size: 0;
}
ul.products li.product .quick_view:after{
  content:"";
  background-image: url(./assets/images/info-icon.png);
  width:12px;
  height: 12px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
ul.products li.product img{
  margin: 0;
  width: 100%;
}
ul.products li.product .woocommerce-loop-product__title{
  padding-top:16px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: rgb(42, 50, 52);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  margin: 0px;
  overflow: hidden;
  margin-bottom: 8px;
}
ul.products li.product .price{
  font-weight: 300;
  font-size: 14px;
  text-align: left;
}
@media (min-width: 992px){
  ul.products li.product .woocommerce-loop-product__title{
    font-size: 21px;
  }
  ul.products li.product .price{
    font-size: 18px;
  }
}
@media (min-width: 576px){
  ul.products li.product .woocommerce-loop-product__title{
    font-size: 18px;
  }
  ul.products li.product .price{
    font-size: 16px;
  }
}
.button.add_to_cart_button{display: none;}
.shopAddToCart button, .shopAddToCart #count{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(255, 253, 247);
  font-size: 35px;
  flex: 0 0 auto;
  border-radius: 50%;
  border: 1px solid rgb(202, 204, 204);
  padding: 0px;
  font-weight: 300;
}
.shopAddToCart button,.shopAddToCart button:hover, .shopAddToCart button:focus{
  color:#001a1a;
  outline: none;
}
.shopAddToCart #count{
  text-align: center;
  width:auto;
  min-width: 40px;
  color: rgb(255, 253, 247);
  font-size: 20px;
  margin: 0px 8px;
  border-radius: 50%;
  background: #2b2b2b;
}
ul.products li.product{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.archive-title-wrap{
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
ul.products li.product .woocommerce-loop-product__title{
  margin-bottom: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
}



/* Product Page */
.mfp-wrap{
  overflow: hidden !important;
}
/* #woosq-popup{
  width: 100%;
  max-width: none;
  max-height: none;
  height: 100% !important;
} */
#woosq-popup .mfp-with-anim{
  width: 100vw;
  height: 100vh;
}

.mfp-content .woocommerce.single-product,
.mfp-content .woocommerce.single-product .product{
  height: 100%;
}
#woosq-popup .single-product .product > div {
    width: inherit;
    height: inherit;
    overflow: auto;
}
.mfp-content .product .summary.entry-summary,
#woosq-popup .single-product .product .summary{
  display: flex;
  flex-direction: column;
  background: rgb(255, 253, 247);
  padding: 12px 12px 12px 24px;
}
@media (min-width: 992px){
  .mfp-content .product .summary.entry-summary,
  #woosq-popup .single-product .product .summary{
    padding: 18px 18px 18px 32px;
  }
}
#woosq-popup .single-product .product .summary .summary-content{
  padding:0;
}
.mfp-woosq .mfp-arrow{
  display: none;
}

@media (min-width: 576px){
  .mfp-with-anim .product .left-aside,
  .mfp-with-anim .product .summary.entry-summary{
    height: 100%;
    overflow-y: auto;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media (min-width: 992px){
  .mfp-with-anim .product .left-aside {
    height: 100%;
    overflow-y: auto;
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }
  .mfp-with-anim .product .summary.entry-summary{
    height: 100%;
    padding: 0px;
    overflow: hidden;
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
  }
}
@media (min-width: 1140px){
  .mfp-with-anim .product .left-aside{
    max-width: 25%;
      flex: 0 0 25%;
  }
  .mfp-with-anim .product .summary.entry-summary{
    max-width: 75%;
      flex: 0 0 75%;
  }
}

#woosq-popup .mfp-with-anim .thumbnails{
  width: inherit;
  max-height: none;
  background-color: transparent;
}
.mfp-with-anim .product .left-aside{
  padding:0
}
#woosq-popup .thumbnails .thumbnail{
    /* height: 176px; */
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
    /* margin: 0px -24px; */
}

@media (min-width: 576px){
  #woosq-popup .thumbnails .thumbnail{
      height: 300px;
  }
}
@media (min-width: 992px){
  #woosq-popup .thumbnails .thumbnail{
      height: auto;
      margin: 0px;
  }
  .mfp-with-anim .product .left-aside{
    background-color: rgb(255, 234, 171);
    min-height: 100%;
    color: rgb(45, 45, 45);
    padding: 32px;
  }
}
@media (max-width: 1023px){
  #woosq-popup .thumbnails .thumbnail{
    position: relative;
    border-radius: 0px;
    width: 100%;
    padding-top: 100%;
  }
  #woosq-popup .mfp-with-anim .thumbnails .thumbnail img{
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    width: 100%;
    margin: auto;
  }
  #woosq-popup .single-product .product .thumbnails{
    max-height: none;
  }
  .mfp-woosq .mfp-close:before {
    background-color: #f2f2f2;
    border-radius: 50%;
  }
  .mfp-woosq .mfp-close {
      top: 10px;
      right: 30px;
  }
}
@media (max-width: 767px){
  .mfp-woosq .mfp-close {
    top: 10px;
    right: 10px;
  }
}

.popup-tab .woocommerce-tabs ul.tabs{
  display: flex;
  padding: 0px;
  margin: 0px 0px 24px;
  width:100%;
  float: left;
  border:none;
}
.woocommerce-tabs ul.tabs li.active::after{
  content:none;
}
.popup-tab .woocommerce-tabs .panel{
  width: 100%;
  float: none;
  clear: both;
  line-height: 18px;
  font-weight: 300
}
.popup-tab .woocommerce-tabs .panel strong{
  font-weight: 500;
}
.popup-tab .woocommerce-tabs .panel ul{
  padding: 0;
}
.popup-tab .woocommerce-tabs .panel ul li{
  list-style: none;
}
.popup-tab .woocommerce-tabs .panel ul.table{
  flex-wrap:wrap
}
.popup-tab .woocommerce-tabs .panel ul.table li{
  width:100%
}
.popup-tab .woocommerce-tabs .panel .table{
  display: flex;
  align-items: flex-start;
}
.popup-tab .woocommerce-tabs .panel p{
  margin-bottom: 10px;
}
.popup-tab .woocommerce-tabs ul.tabs li{
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  color: rgb(45, 45, 45);
  border-top: 5px solid transparent;
  border-left: 0px solid rgb(202, 204, 204);
  border-right: 0px solid rgb(202, 204, 204);
  border-bottom: 1px solid rgb(202, 204, 204);
  flex: 1 0 0px;
  list-style: none;
  padding: 10px 0px;
  border-radius: 4px 4px 0px 0px;
}
.popup-tab .woocommerce-tabs ul.tabs li.active{
  border-top: 5px solid #2b2b2b;
  border-left: 1px solid rgb(202, 204, 204);
  border-right: 1px solid rgb(202, 204, 204);
  border-bottom: 1px solid transparent;
}
.popup-tab .woocommerce-tabs ul.tabs li a{
  padding: 0;
}
.mfp-woosq .mfp-preloader:before {
  content:"\f110";
  font-family: 'Font Awesome 5 Free';
}
.small-popup{
  background-color: rgb(255, 253, 247);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  max-height: 96%;
  width: 90%;
  max-width: 96%;
  flex-flow: column nowrap;
  border-radius: 0px;
  overflow: hidden;
      margin: auto;
}
@media (min-width: 576px){
  .small-popup{
      width: 880px;
      max-height: 640px;
      margin: auto;
  }
}
.mfp-with-anim-simple{
  width: 100%
}
.mfp-with-anim-simple h2{margin:0}
.mfp-with-anim-simple header{
  display: flex;
  width: 100%;
  min-height: 64px;
  align-items: center;
  padding: 12px 12px 12px 24px;
  background: rgb(255, 253, 247);
}
@media (min-width: 992px){
  .mfp-with-anim-simple header{
    padding: 18px 18px 18px 32px;
  }
}
.mfp-with-anim-simple .product_title{
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}
@media (min-width: 576px){
  .mfp-with-anim-simple .product_title{
    font-size: 24px;
    margin: 0px;
  }
}
.mfp-with-anim-simple .left-aside {
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px auto;
}
.mfp-with-anim-simple .product{
  display: flex;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    max-height: 640px;
    flex: 1 1 auto;
    padding: 0px 24px;
    height: fit-content;
}
@media (min-width: 576px){
  .mfp-with-anim-simple .product{
    padding: 0px 32px;
  }
}
@media (min-width: 992px){
  .mfp-with-anim-simple .left-aside {
    flex-direction: row;
    margin: 0px -16px;
  }

}
@media (max-width: 992px){
  .small-popup .mfp-with-anim-simple .left-aside {
    display: block;
  }
}
.mfp-with-anim-simple .left-aside .thumbnails{
  order: 0;
  max-width: initial;
  position: relative;
  height: 176px;
  flex-basis: 176px;
  overflow: hidden;
  padding: 0px;
  margin: 0px -24px;
}
@media (min-width: 576px){
  .mfp-with-anim-simple .left-aside .thumbnails{
    width: 100%;
    height: 300px;
    flex-basis: 300px;
    margin: 0px;
  }
}
@media (min-width: 992px){
  .mfp-with-anim-simple .left-aside .thumbnails{
    order: 1;
    height: auto;
    margin-right: 0px;
    flex: 1 1 0%;
    padding: 0px 16px;
    padding-bottom:30px;
  }
}
.mfp-with-anim-simple .left-aside .thumbnails .thumbnail{
  font-size: 0px;
    padding-top: 100%;
    display: block;
    position: absolute;
    top: -100%;
    bottom: -100%;
    width: 100%;
    overflow: hidden;
    transition: transform 0.1s ease 0s;
    background: rgb(202, 204, 204);
    border-radius: 0px;
    margin: auto 0px;
}
@media (min-width: 992px){
  .mfp-with-anim-simple .left-aside .thumbnails .thumbnail{
    position: relative;
    top: auto;
    bottom: auto;
    display: block;
    border-radius: 0px;
  }
}
.mfp-with-anim-simple .left-aside .thumbnails .thumbnail img{
  position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    flex: 1 1 0%;
    margin: auto;
}
.mfp-with-anim-simple .left-aside .popup-tab{
  order: 2;
    padding: 0px;
}
@media (min-width: 576px){
  .mfp-with-anim-simple .left-aside .popup-tab{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media (min-width: 992px){
  .mfp-with-anim-simple .left-aside .popup-tab{
    padding-left: 16px;
    padding-right: 16px;
    max-width: 50%;
    flex: 0 0 50%;
  }
}
#woosq-popup .single-product{height:auto}
.mfp-woosq .mfp-close{
  top:5px;
  right: 10px;
}
.mfp-woosq .mfp-close, .mfp-woosq .mfp-close:before {
  width:40px;
  height: 40px;
  line-height: 40px;
  color: #001a1a;
  opacity: 1;
}
.mfp-woosq .mfp-close:before{
  font-size: 34px;
}
#woosq-popup .single-product{
  height:100%;
}
.wooco_wrap{
  position: relative;
    padding-bottom: 64px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    border-top: 1px solid rgb(202, 204, 204);
}
@media (min-width: 992px){
  .wooco_wrap{
    margin-bottom: -64px;
    overflow-y: auto;
    flex: unset;
    padding: 0px 32px 64px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
  }
}
@media (min-width: 1140px){
  .wooco_components{
    padding-left: 16px;
    padding-right: 16px;
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
  }
}
.wooco_components{
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  width: 100%;
  list-style: none;
  margin:auto !important;
}

.wooco_component{
  order: -1;
}
.wooco_component_name{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
  color: rgb(45, 45, 45);
  font-family: inherit;

}
@media (min-width: 576px){
  .wooco_component_name{
      margin: 0px 0px 24px;
  }
}
@media (min-width: 992px){
  .wooco_component_name {
      margin-top: 0px;
      padding-top: 0px;
  }
}
.wooco-wrap .wooco-text{width:100%}
.wooco_component_product_selection ul{
  display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px -8px 24px;
}
@media (min-width: 576px){
  .wooco_component_product_selection ul{
      margin: 0px -12px 16px;
  }
}
@media (min-width: 992px){
  .wooco_component_product_selection ul {
      margin: 0px -16px 16px;
  }
}

.wooco_component_product_selection ul li{
  list-style: none;
  margin-bottom: 16px;
}
@media (min-width: 576px){
  .wooco_component_product_selection ul li {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 32px;
  }
}
@media (min-width: 768px){
  .wooco_component_product_selection ul li {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }
}
@media (min-width: 1200px){
  .wooco_component_product_selection ul li{
    padding-left: 16px;
    padding-right: 16px;
    max-width: 25%;
    flex: 0 0 25%;
  }
}
@media (max-width: 576px){
  .wooco_component_product_selection ul li {
    padding-left: 8px;
    padding-right: 8px;
    max-width: 50%;
    flex: 0 0 50%;
  }
}
.wooco_component_product_selection ul li .box{
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  opacity: 1;
  color: rgb(45, 45, 45);
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(6, 23, 12, 0.1) 0px 0px 0px 1px;

}
.wooco_component_product_selection ul li .box .image{
  position: relative;
  border-radius: 0px;
  width: 100%;
  padding-top: 100%;
}
.wooco_component_product_selection ul li .box .image img{
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  width: 100%;
  margin: auto;
}
.wooco_component_product_selection ul li .box .info-box{
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 16px;
}
.wooco_component_product_selection ul li .box .info-box .name{
  margin-bottom: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.wooco_component_product_selection ul li .box .info-box .name h3{
  font-size: 14px;
  font-weight: 500;
  color: rgb(42, 50, 52);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  line-height: 1.16;
  margin: 0px;
  overflow: hidden;
}
@media screen and (min-width:576px){
  .wooco_component_product_selection ul li .box .info-box .name h3{
    font-size: 18px;
  }
}
.wooco_component_product_selection ul li .box .info-box .price{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: auto;
  -webkit-box-align: baseline;
  align-items: baseline;
}
.wooco_component_product_selection ul li .box .info-box .price p{
  font-weight: 300;
    font-size: 14px;
    margin:0;
}
@media screen and (min-width:576px){
  .wooco_component_product_selection ul li .box .info-box .price p{
    font-size: 18px;
  }
}
@media screen and (min-width:576px){
  .mfp-with-anim{
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media screen and (max-width:991px){
  .woosq-popup{
    height:auto !important;
  }
  .mfp-with-anim{
    display: flex;
    flex-direction: column;
    background: rgb(255, 253, 247);
    padding: 0px 24px;
  }
  #woosq-popup .thumbnails .thumbnail{
    position: relative;
    border-radius: 0px;
    width: 100%;
    padding-top: 100%;
  }
  #woosq-popup .mfp-with-anim .thumbnails .thumbnail img{
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    width: 100%;
    margin: auto;
  }
  #woosq-popup .single-product .product .thumbnails{
    max-height: none;
  }
  #woosq-popup .single-product .product > div{
    height:auto;
  }
  .wooco_component_name{
    padding-top: 30px;
  }
  .mfp-content .product .summary.entry-summary, #woosq-popup .single-product .product .summary{
    padding:0;
  }
  #woosq-popup .mfp-with-anim .single-product .product{
    overflow: auto;
  }
}
.popup-tab .entry-title{
  font-size: 20px;
    font-weight: 500;
    margin: 24px 0px 16px
}
.small-popup{
  position: relative;
  width: 90%;
  max-width: 920px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}
@media screen and (max-width:767px){
  .small-popup{
    width: 100vw !important;
    height: 100vh !important;
    max-height: none;
  }
  #woosq-popup .single-product{
    height:auto;
  }
}


.wooco_component_product_qty.wooco-qty, .shopAddToCart, .wooco_alert{display: none;} /* remove code when making price live */














/* Cart Page */
.woocommerce-cart-form{
  padding-left: 16px;
  padding-right: 16px;
  max-width: 950px;
  width:100%;
  margin: auto;
}
.woocommerce-cart-form .cart-container{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
}
.woocommerce-cart-form .cart-items{
  width: 100%;
  background-color: rgb(255, 253, 247);
  position: relative;
  padding: 24px 24px 0px;
}

@media (min-width: 992px){
  .woocommerce-cart-form .cart-items{
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-bottom: 24px;
    box-shadow: rgba(109, 114, 120, 0.25) 0px 2px 4px;
    border-radius: 0px;
    padding: 32px;
  }
}
article.cart-item{
  display: grid;
    grid-template-areas:
        "image header"
        "image content"
        "actions actions";
    grid-template-columns: 56px 1fr;
    width: 100%;
    padding-top: 24px;
}
@media (min-width: 576px){
  article.cart-item{
      grid-template-areas:
          "image header"
          "image content"
          "image actions";
      grid-template-columns: auto 1fr;
  }
}
article.cart-item:not(:last-of-type) {
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(202, 204, 204);
}
@media (min-width: 576px){
  article.cart-item:not(:last-of-type) {
    padding-bottom: 24px;
  }
}

article.cart-item .image{
  display: inline-block;
    object-fit: cover;
    width: 40px;
    min-height: 40px;
    margin-bottom: 16px;
    grid-area: image / image / image / image;
    border-radius: 100px;
    overflow: hidden;
}
article.cart-item .image{
  border-radius: 100px;
}
@media (min-width: 576px){
  article.cart-item .image{
    display: block;
    width: 92px;
    max-height: 92px;
    margin-bottom: unset;
    margin-right: 24px;
    border-radius: 100px;
  }
}
article.cart-item .product-name{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  grid-area: header / header / header / header;
}

article.cart-item .product-name h3{
  width: 100%;
  display: flex;
  margin: 0px;
}
article.cart-item .product-name h3 a{
  text-decoration: none;
  width: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
@media (min-width: 576px){
  article.cart-item .product-name h3 a{
    font-size: 20px;
  }
}
article.cart-item .product-name h3 span{
  margin-left: auto;
  padding-left: 16px;
  font-weight: 300;
}
article.cart-item .change-quantity{
  display: flex;
  grid-area: actions / actions / actions / actions;
}

/* Contact Page */
.entry-header{
  text-align:center;
}
.entry-header h1.entry-title{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.contact-block .block{
  margin:0 auto;
  box-shadow: rgba(109, 114, 120, 0.25) 0px 2px 4px;
  border-radius: 0px;
  padding: 32px;
  max-width: 100%;
  background-color: rgb(255, 253, 247);
  position: relative;
  margin-bottom:10px;
}
.contact-block .block h2{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1
}
.contact-us-form .field{
  margin-bottom: 20px;
}
.contact-us-form .field label{
  display: inline-block;
  line-height: 1;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 600px){
  .contact-form input[type=text],
  .contact-form input[type=textarea]{
    width:100% !important;
  }
}

.contact-us-form .field input,
.contact-us-form .field textarea{
  display: block;
  background-color: rgb(255, 253, 247);
  color: rgb(45, 45, 45);
  width: 100% !important;
  max-width: none;
  padding: 10px 16px;
  border: 1px solid rgb(109, 114, 120);
  border-image: initial;
  border-radius: 100px;
  transition: all 0.25s ease 0s;
  box-sizing: border-box;
  box-shadow:none;
  height:40px;
}
.contact-us-form .field textarea{
  height:auto;
  border-radius: 25px;
}
.contact-us-form .field input:focus,
.contact-us-form .field input:active,
.contact-us-form .field textarea:focus,
.contact-us-form .field textarea:active{
  outline:none;
}
.contact-us-form .action input{
  display:block;
  font-size: 20px;
  max-width: 200px;
  margin-left: auto;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  color: rgb(255, 253, 247);
  padding: 10px 12px;
  border-radius: 100px;
  background: #2b2b2b;
  transition: all 0.25s ease 0s;
  border: 1px solid #2b2b2b;
  box-sizing: border-box;
}
.wpcf7-not-valid-tip{
  margin-top:5px;
}
.contact-block{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:20px;
}

.contact-page article{
  margin-bottom:0;
}
.timings p{
  margin-bottom: 0;
}
.find-us p{
  margin-bottom:10px;
}
.timings, .find-us{
  position: relative;
  padding-bottom:20px;
  margin-bottom:20px;
}
.timings:after, .find-us:after{
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height: 1px;
  background-color: #f6f6f6;
}
.contact-form .block{
  max-width: 600px;
  margin:auto;
}
.social-icons{
  margin:0;
  margin-top:10px;
}
.social-icons li{
  list-style: none;
  display: inline-block;
  margin-right:5px;
}
.social-icons li a{
  display: flex;
  width:40px;
  height:40px;
  position: relative;

}
.social-icons li a:before{
  content:"";
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(0.9);
  transition: transform .5s ease;
}
.social-icons li a:hover:before{
  transform: scale(1);
  transition: transform .5s ease;
}
.social-icons li.fb a:before{
  background-image: url(./assets/images/social/facebook.svg);
}
.social-icons li.insta a:before{
  background-image: url(./assets/images/social/instagram.svg);
}
.social-icons li.twitter a:before{
  background-image: url(./assets/images/social/twitter.svg);
}
.contact-info  input[type="checkbox"],
.contact-info .block .show-more{
  display: none;
}


@media screen and (max-width:767px){
  .contact-block{
    grid-template-columns: repeat(1, 1fr);
    gap:20px;
  }
  .find-us br{display: none;}
  .contact-us-form .action input{
    max-width: none;
  }
  .contact-info .block{
    height: 150px;
    overflow: hidden;
    position: relative;
  }
  .contact-info  input[type="checkbox"]{
    display: none;
  }
  .contact-info input[type="checkbox"]:checked + .block {
    height:auto;
  }
  .contact-info .block .show-more{
    display: block;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    text-align: center;
    padding-bottom:10px;
    padding-top:100px;
    font-weight:700;
    background-image: linear-gradient(to bottom, transparent, rgb(255,255,255));
    cursor: pointer;
    text-decoration:none;
    z-index: 99;

  }
  .contact-info input[type="checkbox"]:checked + .block .show-more{
    display: none;
  }
}
#cookie-law-info-again{display: none !important;}

/* Our Menu */
.our-menu{display:flex;justify-content: center;}
@media screen and (max-width:800px){
  .our-menu{flex-wrap:wrap;}
}

/* .eat-out{
  position: fixed;
  bottom:20px;
  right:15px;
  z-index: 99;
  width: 100px;
}
.eat-out img{
  max-width: 100%;
  box-shadow:rgba(109, 114, 120, 0.25) 0px 2px 4px;
  border-radius:50%;
} */
/* @media screen and (max-width:767px){
  .eat-out{
    bottom:70px;
  }
} */
.pre-head-text{
  background: #FFA500;
  color: rgb(255, 253, 247);
  font-size:14px;
  padding:8px 0;
  z-index: 999;
  width: 100%;
  text-align: center;
  margin:0;
  margin-bottom:15px;
}

.summary-content.ps-container .price{display: none;}
.wooco_total.wooco-total.wooco-text{margin-top: 20px;font-size: 20px;display: none;}
.single-product div.product form.cart{display:none;}
#woosq-popup .single-product{overflow: auto;}
.wooco_total.wooco-total.wooco-text{padding:20px 0;max-width: 83.33333%;flex: 0 0 83.33333%;display:none !important;}
@media screen and (max-width:767px){
  #woosq-popup .mfp-with-anim{padding: 0}
  .popup-tab, .mfp-content .product .summary.entry-summary, #woosq-popup .single-product .product .summary{padding: 0 24px;}
  .mfp-woosq .mfp-close:before{background-color: #f2f2f2;border-radius: 50%;}
}

.home .grecaptcha-badge{
  display: none !important;
}
.as-seen{
  margin-left:-100px;
  margin-right: -100px;
  background-image: url(./assets/images/banner.jpg);
  background-size: cover;
  position:relative;
  text-align: center;
  padding: 30px;
}
.as-seen:before{
  content:"";
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 1;
}
.as-seen h2{
  color:#fff;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width:767px){
  .as-seen h2{
    margin-bottom: 10px;
    font-size: 18px;
  }
}
.as-seen .logo-slider .owl-item{
  text-align: center;
  position: relative;
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: center;
}
.as-seen .owl-carousel .owl-stage {
    display: flex;
}

.as-seen .logo-slider .owl-item img{
  max-width: 140px;
  width: auto;

}
@media screen and (max-width:1024px){
  .as-seen{
    margin-left:-40px;
    margin-right: -40px;
  }
}
@media screen and (max-width:767px){
  .as-seen{
    margin-left:-24px;
    margin-right: -24px;
    padding: 20px;
    padding-right: 0;
  }
  .as-seen .logo-slider .owl-item img{
    max-width: 100%;
  }
}

/* Track and Trace form */
.covid-trace-form{
  box-shadow: rgba(109, 114, 120, 0.25) 0px 2px 4px;
  padding: 32px;
  max-width: 700px;
  width:100%;
  background-color: rgb(255, 253, 247);
  position: relative;
  margin:0 auto;
}
.covid-trace-form .message{
  font-style: italic;
}
#content{
  min-height: calc(100vh - 198px);
}

.success-maessage-covid{
  text-align: center;
  margin: 0 auto;
  box-shadow: rgba(109, 114, 120, 0.25) 0px 2px 4px;
  border-radius: 0px;
  padding: 32px;
  max-width: 100%;
  background-color: rgb(255, 253, 247);
  position: relative;
  margin-bottom: 10px;
  margin-top: 40px;
}
.success-maessage-covid .button, .site-footer  .track-and-trace .button{
  min-width: 100px;
  justify-content: center;
  margin:5px;
  font-size: 16px;
  margin-left: auto;
  width: 150px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(255, 253, 247);
  padding: 10px 12px;
  border-radius: 100px;
  background: #2b2b2b;
  transition: all 0.25s ease 0s;
  border: 1px solid rgb(0,26,26);
  box-sizing: border-box;
}
.site-footer  .track-and-trace .button{
  display: block;
  text-decoration:none;
  margin:0;
}
.track-and-trace{
  position: fixed;
  bottom: 20px;
  left: 15px;
  z-index: 99;
  width: 150px;
}
.woocommerce-cart .grecaptcha-badge{
  opacity: 0;
}
/* .page-id-163 .grecaptcha-badge,
.page-id-307 .grecaptcha-badge{
  opacity: 1;
} */
